ion-content {
    --ion-background-color: linear-gradient(90deg, #27A8E2 0%, #0062D7 100%);
    ion-item {
        height: 38px;
        border: none;
        border-radius: 15px;
    }
    #rectangles {
        width: 328px;
        height: 358px;
        position: absolute;
        margin: 100px auto;
        #rec-104 {
            top: -30px;
            left: -8px;
            position: absolute;
        }
        #rec-105 {
            top: -50px;
            left: 60px;
            position: absolute;
        }
        #rec-106 {
            top: 35px;
            right: -10px;
            position: absolute;
        }
        #rec-107 {
            bottom: -10px;
            right: 100px;
            position: absolute;
        }
        #rec-108 {
            bottom: -70px;
            right: 150px;
            position: absolute;
        }
        #rec-109 {
            bottom: -20px;
            left: 0;
            position: absolute;
        }
        #rec-110 {
            bottom: 100px;
            right: -10px;
            position: absolute;
        }
    }
    #auth-block {
        background: linear-gradient( 90deg, #27A8E2 0%, #0062D7 100%);
        box-shadow: 4px 25px 32px -2px rgb(0 0 0 / 25%);
        border-radius: 10px;
        padding: 0 1.5rem 15px;
        margin: 100px auto;
        position: relative;
        z-index: 9999;
        img {
            display: block;
            margin: auto;
        }
        .auth-input {
            position: relative;
            margin-top: 1rem;
            &:last-of-type {
                margin-bottom: 0.5rem;
            }
            input {
                background: #F3EEE7;
                border-radius: 15px;
                border: none;
                width: 100%;
                padding: 11.5px 20px;
                color: #777777;
                font-size: 12px;
            }
            ion-icon {
                position: absolute;
                right: 20px;
                top: 10px;
                color: #0062D7;
                font-size: 20px;
            }
        }
        small {
            text-align: left;
            display: block;
            margin-top: 0.5rem;
            margin-left: 0.5rem;
        }
        #auth-buttons {
            text-align: center;
            padding: 30px 0 0;
            button {
                border-radius: 15px;
                font-weight: 700;
                text-align: center;
                font-size: 12px;
                &#login-btn {
                    height: 41px;
                    width: 133px;
                    background: #0062D7;
                    color: #fff;
                }
                &#register-btn {
                    height: 41px;
                    width: 133px;
                    background: #43F48D;
                    color: #0062D7;
                }
            }
        }
        .error-message {
            color: #f3ab51;
            font-size: 10px;
            margin: 0.5rem 0 0 1rem;
        }
    }
}

.color-white {
    color: #fff;
}

.color-success {
    color: #43F48D;
}

button.disabled,
button:disabled {
    opacity: .65;
}